@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$pageBgColor: #101720;
$mainFontColor: #e9dfdf;
$mainGradient: linear-gradient(135deg, #8e2de2, #4a00e0);
$mainBgColor: #020d19;
$mainRadius: 1.25rem;
$shadowColor: #041425;

:root {
  font-size: calc(15px + 0.390625vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: $pageBgColor;
  color: $mainFontColor;
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@mixin gradient-underline($time) {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    margin: auto;
    position: absolute;
    width: 0;
    height: 2px;
    background: $mainGradient;
    left: 0;
    right: 0;
    bottom: -1px;
    transition: width $time ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: $mainFontColor;
  @include gradient-underline(200ms);
}

#app-header {
  position: absolute;
  top: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  h1 {
    font-weight: 200;

    strong {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  p {
    font-weight: 200;
    font-size: 0.75rem;
  }
}

main {
  width: clamp(310px, 60vw, 1200px);
  height: 45vh;
  background: $mainBgColor;
  border-radius: $mainRadius;
  display: flex;
  box-shadow: 4px 4px 16px -9px $shadowColor;
}

.general-data,
.details-data {
  padding: 0.9rem;
}

.general-data {
  width: 35%;
}

@import "general-data";

.details-data {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import "forecast-statistics";
@import "five-day-forecast";
