@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$mainBgColor: #171717;
$mainFontColor: #ffffff;
$mainGradient: linear-gradient(to right, #8e2de2, #4a00e0);

:root {
  font-size: calc(15px + 0.390625vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: $mainBgColor;
  color: $mainFontColor;
  position: relative;
}

@mixin gradient-underline($time) {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    margin: auto;
    position: absolute;
    width: 0;
    height: 2px;
    background: $mainGradient;
    left: 0;
    right: 0;
    bottom: -1px;
    transition: width $time ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: $mainFontColor;
  @include gradient-underline(200ms);
}

#app-header {
  position: absolute;
  top: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  h1 {
    font-weight: 200;

    strong {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  p {
    font-weight: 200;
    font-size: 0.75rem;
  }
}
