@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$mainBgColor: #171717;
$mainFontColor: #ffffff;

:root {
  font-size: calc(15px + 0.390625vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: $mainBgColor;
  color: $mainFontColor;
  position: relative;
}

h1 {
  font-weight: 200;
  text-align: center;
  position: absolute;
  top: 0.3em;
  left: 50%;
  transform: translateX(-50%);

  strong {
    font-weight: 900;
    text-transform: uppercase;
  }
}
